@tailwind base;
@tailwind components;
@tailwind utilities;

i {
  color: #000;  /* Set icon color */
  font-size: 2rem; /* Increase size to make sure it's visible */
}

div::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
